<div style="direction:rtl; text-align:right">

# المشروع الأول: قصة التايتانك بعيون علم البيانات

<div style="direction:rtl; text-align:right">
أهلاً بكم في المشروع الأول من علم البيانات. في هذا المشروع، سنكتشف سوية قصة التايتانك ولكن من خلال البيانات. يهدف هذا المشروع إلى التعريف بأهم خطوات تحليل البيانات واستكشاف المراحل المختلفة. سنستخدم بيانات الناجين من سفينة التايتنك والموجودة في موقع كاقل على الرابط التالي: https://www.kaggle.com/c/titanic

<div style="direction:rtl; text-align:right">
الهدف الأساسي من هذا المشروع هو استخدام هذه البيانات لفهم من هم الناجين من كارثة التايتانك؟ هل الناجين يمثلون عينة عشوائية أم أنهم من طبقات معينة؟ وكيف يمكن مقارنة الناجين بباقي المسافرين في التايتانك؟ وما إلى ذلك من أسئلة.

<div style="direction:rtl; text-align:right">
ملاحظة: لإكمال هذا المشروع، عليك تعديل الخانات التي يوجد فيها الكود أدناه قبل تسليم المشروع. جميع الخانات الأخرى يجب ان تبقى كما هي بدون أي 
تعديل.

```
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################
```

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

<div style="direction:rtl; text-align:right">

# قراءة البيانات

<div style="direction:rtl; text-align:right">
سنقوم أولاً باستخدام pd.read_csv لقراءة البيانات:

In [2]:
data = pd.read_csv('titanic.csv')

<div style="direction:rtl; text-align:right">
بعد أن قرأنا البيانات، سنقوم الآن باستعراض البيانات حتى نتأكد من قراءتها بشكل صحيح وذلك باستخدام الأمرين: head و info.

In [3]:
#لطباعة رأس الجدول نقوم باستخدام الأمر head
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

<div style="direction:rtl; text-align:right">
سنقوم الآن بطباعة بعض المعلومات الأساسية عن البيانات. في الخانة التالية، استخدم مخرجات الخانة السابقة (info) للإجابة عن الأسئلة مثل عدد الصفوف وعدد الأعمدة.

In [5]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

# كم عدد الصفوف ؟
nrows = data.shape[0]
# كم عدد الأعمدة ؟
ncols = data.shape[1]
# كم عدد الأعمدة الرقمية ؟ كم عدد الأعمدة الوصفية ؟
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
n_num_cols = len(data.select_dtypes(include=numerics).columns)
n_str_cols = len(data.select_dtypes(include='object').columns)

In [6]:
print('There are {0} rows and {1} columns in this dataset.'.format(nrows, ncols))
print('Of those columns, there are {0} numerical columns and {1} categorical columns.'.format(n_num_cols, n_str_cols))

There are 891 rows and 12 columns in this dataset.
Of those columns, there are 7 numerical columns and 5 categorical columns.

<div style="direction:rtl; text-align:right">
قم باستخدام مخرجات الأمر info مرة أخرى لمعرفة الأعمدة التي يوجد بها خانات فارغة وكم بكتابة أسماء الأعمدة في الخانة التالية.

In [11]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

# Look at the outputs at `data.info()` again..
# Which columns have missing values ?
# replace the empty list below with column names that have missing values
# for example: ['Name', 'Fare', 'Sex']

cols_with_missing_vals = data.columns[data.isna().any()]

In [12]:
print('The following columns have missing values: {0}'.format(cols_with_missing_vals))

The following columns have missing values: Index(['Age', 'Cabin', 'Embarked'], dtype='object')

<div style="direction:rtl; text-align:right">

# تنظيف البيانات

# <div style="direction:rtl; text-align:right">
سنقوم الآن بتنظيف البيانات. سنقوم أولاً بحذف الأعمدة التي لانحتاجها مثل PassengerId:

In [13]:
# delete 'PassengerId' column, using 'drop' command ; don't forget to include `inplace=True`
data.drop(columns='PassengerId', inplace=True)

<div style="direction:rtl; text-align:right">
سنقوم بتكرار نفس الأمر مع أعمدة Name و Ticket:

In [14]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

# drop the columns `Name` and `Ticket` as well the same way

data.drop(columns= ["Name", "Ticket"], inplace = True)

In [15]:
final_column_set = data.columns.tolist()
final_column_set

['Survived',
 'Pclass',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Cabin',
 'Embarked']

In [31]:
# We can print all values of Age using this command:
age_vals = data['Age'].values

<div style="direction:rtl; text-align:right">
للتأكد من أننا حصلنا على قيم العمر في مصفوفة، قم بإنشاء خانة جديدة وكتابة age_vals لطباعة المصفوفة..

In [32]:
age_vals

array([22.        , 38.        , 26.        , 35.        , 35.        ,
       29.69911765, 54.        ,  2.        , 27.        , 14.        ,
        4.        , 58.        , 20.        , 39.        , 14.        ,
       55.        ,  2.        , 29.69911765, 31.        , 29.69911765,
       35.        , 34.        , 15.        , 28.        ,  8.        ,
       38.        , 29.69911765, 19.        , 29.69911765, 29.69911765,
       40.        , 29.69911765, 29.69911765, 66.        , 28.        ,
       42.        , 29.69911765, 21.        , 18.        , 14.        ,
       40.        , 27.        , 29.69911765,  3.        , 19.        ,
       29.69911765, 29.69911765, 29.69911765, 29.69911765, 18.        ,
        7.        , 21.        , 49.        , 29.        , 65.        ,
       29.69911765, 21.        , 28.5       ,  5.        , 11.        ,
       22.        , 38.        , 45.        ,  4.        , 29.69911765,
       29.69911765, 29.        , 19.        , 17.        , 26.        ,
       32.        , 16.        , 21.        , 26.        , 32.        ,
       25.        , 29.69911765, 29.69911765,  0.83      , 30.        ,
       22.        , 29.        , 29.69911765, 28.        , 17.        ,
       33.        , 16.        , 29.69911765, 23.        , 24.        ,
       29.        , 20.        , 46.        , 26.        , 59.        ,
       29.69911765, 71.        , 23.        , 34.        , 34.        ,
       28.        , 29.69911765, 21.        , 33.        , 37.        ,
       28.        , 21.        , 29.69911765, 38.        , 29.69911765,
       47.        , 14.5       , 22.        , 20.        , 17.        ,
       21.        , 70.5       , 29.        , 24.        ,  2.        ,
       21.        , 29.69911765, 32.5       , 32.5       , 54.        ,
       12.        , 29.69911765, 24.        , 29.69911765, 45.        ,
       33.        , 20.        , 47.        , 29.        , 25.        ,
       23.        , 19.        , 37.        , 16.        , 24.        ,
       29.69911765, 22.        , 24.        , 19.        , 18.        ,
       19.        , 27.        ,  9.        , 36.5       , 42.        ,
       51.        , 22.        , 55.5       , 40.5       , 29.69911765,
       51.        , 16.        , 30.        , 29.69911765, 29.69911765,
       44.        , 40.        , 26.        , 17.        ,  1.        ,
        9.        , 29.69911765, 45.        , 29.69911765, 28.        ,
       61.        ,  4.        ,  1.        , 21.        , 56.        ,
       18.        , 29.69911765, 50.        , 30.        , 36.        ,
       29.69911765, 29.69911765,  9.        ,  1.        ,  4.        ,
       29.69911765, 29.69911765, 45.        , 40.        , 36.        ,
       32.        , 19.        , 19.        ,  3.        , 44.        ,
       58.        , 29.69911765, 42.        , 29.69911765, 24.        ,
       28.        , 29.69911765, 34.        , 45.5       , 18.        ,
        2.        , 32.        , 26.        , 16.        , 40.        ,
       24.        , 35.        , 22.        , 30.        , 29.69911765,
       31.        , 27.        , 42.        , 32.        , 30.        ,
       16.        , 27.        , 51.        , 29.69911765, 38.        ,
       22.        , 19.        , 20.5       , 18.        , 29.69911765,
       35.        , 29.        , 59.        ,  5.        , 24.        ,
       29.69911765, 44.        ,  8.        , 19.        , 33.        ,
       29.69911765, 29.69911765, 29.        , 22.        , 30.        ,
       44.        , 25.        , 24.        , 37.        , 54.        ,
       29.69911765, 29.        , 62.        , 30.        , 41.        ,
       29.        , 29.69911765, 30.        , 35.        , 50.        ,
       29.69911765,  3.        , 52.        , 40.        , 29.69911765,
       36.        , 16.        , 25.        , 58.        , 35.        ,
       29.69911765, 25.        , 41.        , 37.        , 29.69911765,
       63.        , 45.        , 29.69911765,  7.        , 35.        ,
       65.        , 28.        , 16.        , 19.        , 29.69911765,
       33.        , 30.        , 22.        , 42.        , 22.        ,
       26.        , 19.        , 36.        , 24.        , 24.        ,
       29.69911765, 23.5       ,  2.        , 29.69911765, 50.        ,
       29.69911765, 29.69911765, 19.        , 29.69911765, 29.69911765,
        0.92      , 29.69911765, 17.        , 30.        , 30.        ,
       24.        , 18.        , 26.        , 28.        , 43.        ,
       26.        , 24.        , 54.        , 31.        , 40.        ,
       22.        , 27.        , 30.        , 22.        , 29.69911765,
       36.        , 61.        , 36.        , 31.        , 16.        ,
       29.69911765, 45.5       , 38.        , 16.        , 29.69911765,
       29.69911765, 29.        , 41.        , 45.        , 45.        ,
        2.        , 24.        , 28.        , 25.        , 36.        ,
       24.        , 40.        , 29.69911765,  3.        , 42.        ,
       23.        , 29.69911765, 15.        , 25.        , 29.69911765,
       28.        , 22.        , 38.        , 29.69911765, 29.69911765,
       40.        , 29.        , 45.        , 35.        , 29.69911765,
       30.        , 60.        , 29.69911765, 29.69911765, 24.        ,
       25.        , 18.        , 19.        , 22.        ,  3.        ,
       29.69911765, 22.        , 27.        , 20.        , 19.        ,
       42.        ,  1.        , 32.        , 35.        , 29.69911765,
       18.        ,  1.        , 36.        , 29.69911765, 17.        ,
       36.        , 21.        , 28.        , 23.        , 24.        ,
       22.        , 31.        , 46.        , 23.        , 28.        ,
       39.        , 26.        , 21.        , 28.        , 20.        ,
       34.        , 51.        ,  3.        , 21.        , 29.69911765,
       29.69911765, 29.69911765, 33.        , 29.69911765, 44.        ,
       29.69911765, 34.        , 18.        , 30.        , 10.        ,
       29.69911765, 21.        , 29.        , 28.        , 18.        ,
       29.69911765, 28.        , 19.        , 29.69911765, 32.        ,
       28.        , 29.69911765, 42.        , 17.        , 50.        ,
       14.        , 21.        , 24.        , 64.        , 31.        ,
       45.        , 20.        , 25.        , 28.        , 29.69911765,
        4.        , 13.        , 34.        ,  5.        , 52.        ,
       36.        , 29.69911765, 30.        , 49.        , 29.69911765,
       29.        , 65.        , 29.69911765, 50.        , 29.69911765,
       48.        , 34.        , 47.        , 48.        , 29.69911765,
       38.        , 29.69911765, 56.        , 29.69911765,  0.75      ,
       29.69911765, 38.        , 33.        , 23.        , 22.        ,
       29.69911765, 34.        , 29.        , 22.        ,  2.        ,
        9.        , 29.69911765, 50.        , 63.        , 25.        ,
       29.69911765, 35.        , 58.        , 30.        ,  9.        ,
       29.69911765, 21.        , 55.        , 71.        , 21.        ,
       29.69911765, 54.        , 29.69911765, 25.        , 24.        ,
       17.        , 21.        , 29.69911765, 37.        , 16.        ,
       18.        , 33.        , 29.69911765, 28.        , 26.        ,
       29.        , 29.69911765, 36.        , 54.        , 24.        ,
       47.        , 34.        , 29.69911765, 36.        , 32.        ,
       30.        , 22.        , 29.69911765, 44.        , 29.69911765,
       40.5       , 50.        , 29.69911765, 39.        , 23.        ,
        2.        , 29.69911765, 17.        , 29.69911765, 30.        ,
        7.        , 45.        , 30.        , 29.69911765, 22.        ,
       36.        ,  9.        , 11.        , 32.        , 50.        ,
       64.        , 19.        , 29.69911765, 33.        ,  8.        ,
       17.        , 27.        , 29.69911765, 22.        , 22.        ,
       62.        , 48.        , 29.69911765, 39.        , 36.        ,
       29.69911765, 40.        , 28.        , 29.69911765, 29.69911765,
       24.        , 19.        , 29.        , 29.69911765, 32.        ,
       62.        , 53.        , 36.        , 29.69911765, 16.        ,
       19.        , 34.        , 39.        , 29.69911765, 32.        ,
       25.        , 39.        , 54.        , 36.        , 29.69911765,
       18.        , 47.        , 60.        , 22.        , 29.69911765,
       35.        , 52.        , 47.        , 29.69911765, 37.        ,
       36.        , 29.69911765, 49.        , 29.69911765, 49.        ,
       24.        , 29.69911765, 29.69911765, 44.        , 35.        ,
       36.        , 30.        , 27.        , 22.        , 40.        ,
       39.        , 29.69911765, 29.69911765, 29.69911765, 35.        ,
       24.        , 34.        , 26.        ,  4.        , 26.        ,
       27.        , 42.        , 20.        , 21.        , 21.        ,
       61.        , 57.        , 21.        , 26.        , 29.69911765,
       80.        , 51.        , 32.        , 29.69911765,  9.        ,
       28.        , 32.        , 31.        , 41.        , 29.69911765,
       20.        , 24.        ,  2.        , 29.69911765,  0.75      ,
       48.        , 19.        , 56.        , 29.69911765, 23.        ,
       29.69911765, 18.        , 21.        , 29.69911765, 18.        ,
       24.        , 29.69911765, 32.        , 23.        , 58.        ,
       50.        , 40.        , 47.        , 36.        , 20.        ,
       32.        , 25.        , 29.69911765, 43.        , 29.69911765,
       40.        , 31.        , 70.        , 31.        , 29.69911765,
       18.        , 24.5       , 18.        , 43.        , 36.        ,
       29.69911765, 27.        , 20.        , 14.        , 60.        ,
       25.        , 14.        , 19.        , 18.        , 15.        ,
       31.        ,  4.        , 29.69911765, 25.        , 60.        ,
       52.        , 44.        , 29.69911765, 49.        , 42.        ,
       18.        , 35.        , 18.        , 25.        , 26.        ,
       39.        , 45.        , 42.        , 22.        , 29.69911765,
       24.        , 29.69911765, 48.        , 29.        , 52.        ,
       19.        , 38.        , 27.        , 29.69911765, 33.        ,
        6.        , 17.        , 34.        , 50.        , 27.        ,
       20.        , 30.        , 29.69911765, 25.        , 25.        ,
       29.        , 11.        , 29.69911765, 23.        , 23.        ,
       28.5       , 48.        , 35.        , 29.69911765, 29.69911765,
       29.69911765, 36.        , 21.        , 24.        , 31.        ,
       70.        , 16.        , 30.        , 19.        , 31.        ,
        4.        ,  6.        , 33.        , 23.        , 48.        ,
        0.67      , 28.        , 18.        , 34.        , 33.        ,
       29.69911765, 41.        , 20.        , 36.        , 16.        ,
       51.        , 29.69911765, 30.5       , 29.69911765, 32.        ,
       24.        , 48.        , 57.        , 29.69911765, 54.        ,
       18.        , 29.69911765,  5.        , 29.69911765, 43.        ,
       13.        , 17.        , 29.        , 29.69911765, 25.        ,
       25.        , 18.        ,  8.        ,  1.        , 46.        ,
       29.69911765, 16.        , 29.69911765, 29.69911765, 25.        ,
       39.        , 49.        , 31.        , 30.        , 30.        ,
       34.        , 31.        , 11.        ,  0.42      , 27.        ,
       31.        , 39.        , 18.        , 39.        , 33.        ,
       26.        , 39.        , 35.        ,  6.        , 30.5       ,
       29.69911765, 23.        , 31.        , 43.        , 10.        ,
       52.        , 27.        , 38.        , 27.        ,  2.        ,
       29.69911765, 29.69911765,  1.        , 29.69911765, 62.        ,
       15.        ,  0.83      , 29.69911765, 23.        , 18.        ,
       39.        , 21.        , 29.69911765, 32.        , 29.69911765,
       20.        , 16.        , 30.        , 34.5       , 17.        ,
       42.        , 29.69911765, 35.        , 28.        , 29.69911765,
        4.        , 74.        ,  9.        , 16.        , 44.        ,
       18.        , 45.        , 51.        , 24.        , 29.69911765,
       41.        , 21.        , 48.        , 29.69911765, 24.        ,
       42.        , 27.        , 31.        , 29.69911765,  4.        ,
       26.        , 47.        , 33.        , 47.        , 28.        ,
       15.        , 20.        , 19.        , 29.69911765, 56.        ,
       25.        , 33.        , 22.        , 28.        , 25.        ,
       39.        , 27.        , 19.        , 29.69911765, 26.        ,
       32.        ])

<div style="direction:rtl; text-align:right">
في الخانة التالية، سنقوم بحساب متوسط العمر باستخدام numpy وذلك حتى نقوم باستخدام هذا الرقم لملء الخانات المفقودة في العمر.

In [33]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

# here, print the command that extracts the mean age using numpy: 
mean_age = np.mean(data['Age'])

In [34]:
# Now, we will use the average age to fill in all missing values
data['Age'].fillna( mean_age, inplace=True)

<div style="direction:rtl; text-align:right">

# تحليل البيانات الاستكشافي

<div style="direction:rtl; text-align:right">
سنقوم الآن بتحليل البيانات الاستكشافي وهي عملية نقوم فيها بالتعرف على بعض الإحصائيات عن الأعمدة المختلفة

In [25]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

<div style="direction:rtl; text-align:right">
فمثلا: ماهي نسبة الناجين إلى مجموع المسافرين؟ نقوم باستخدام value_counts لحساب عدد الصفوف التي تحمل قيمة محددة:

In [44]:
survived= data['Survived'].value_counts()
survived

0    549
1    342
Name: Survived, dtype: int64

<div style="direction:rtl; text-align:right">
قم بحساب نسبة الناجين بناء على الخانة السابقة:

In [48]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################


survived_percentage = data['Survived'].value_counts(1).loc[1]
survived_percentage = (np.round(survived_percentage*100, 2))
survived_percentage

38.38

In [49]:
print('About {0}% of people in this dataset have survived'.format(np.round(survived_percentage, 2)))

About 38.38% of people in this dataset have survived

<div style="direction:rtl; text-align:right">
ونستطيع فعل الأمر مع الأعمدة المختلفة:

In [50]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [51]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [52]:
data['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [53]:
data['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

<div style="direction:rtl; text-align:right">
قم الآن بحساب نسبة الإناث الناجيات من إجمالي عدد الناجيين في الخانة التالية:

In [18]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

total_female_survived = data[(data['Survived'] == 1) & (data['Sex'] == 'female')]
total_female_survived['Survived'].count()

233

In [19]:
total_survived= (data['Survived'] == 1).sum()
total_survived

342

In [55]:
female_survived_percentage=data['Survived'][(data['Survived'] == 1) & (data['Sex'] == 'female')].count() / data['Survived'].sum()
female_survived_percentage= (np.round(female_survived_percentage*100, 2))
female_survived_percentage

68.13

<div style="direction:rtl; text-align:right">

# معلومات بغرض التصحيح

In [57]:
print('nrows={}\nncols={}\nn_num_cols={}\nn_str_cols={}\nfinal_column_set={}\ncols_with_missing_vals={}\nmean_age={}\nsurvived_percentage={}\nfemale_survived_percentage={}'.format(
nrows,
ncols,
n_num_cols,
n_str_cols,
final_column_set,
cols_with_missing_vals,
mean_age,
survived_percentage,
female_survived_percentage
))

nrows=891
ncols=12
n_num_cols=7
n_str_cols=5
final_column_set=['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']
cols_with_missing_vals=Index(['Age', 'Cabin', 'Embarked'], dtype='object')
mean_age=29.699117647058763
survived_percentage=38.38
female_survived_percentage=68.13

<div style="direction:rtl; text-align:right">
والآن يمكنك القيام بتسليم المشروع.

<div style="direction:rtl; text-align:right">
هذه لم تكن سوى جولة سريعة للتعرف على بيانات التايتانك بشكل سريع. بالطبع، إذا كنت تريد اكتشاف المزيد مما يمكن فعله بهذه البيانات فهناك عدد هائل من الدروس على الانترنت ندعوكم للاطلاع عليها مثل هذا الدرس:

- https://www.kaggle.com/mjbahmani/a-comprehensive-ml-workflow-with-python